<h1>{{#if post}}Edit Post{{else}}Create New Post{{/if}}</h1>
<form id="postForm">
  <input type="text" id="title" value="{{post.title}}" required>
  <textarea id="content" required>{{post.content}}</textarea>
  <button type="submit">{{#if post}}Update Post{{else}}Create Post{{/if}}</button>
</form>